html,body,div#root
{
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.RowH4HelpDesk
{
  text-align: center;
  padding: 8%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.FirstPart
{
  color: #f9607e;
}

h1.TitleLeft {
  margin: 10px;
  font-size: 2.2rem;
  font-weight: 700;
  color: #4b56c0;
}

.HelpDeskSvg
{
  max-width: 40%;
  margin: auto;
  display: block;
}

.OmbreDuFormulaire {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  box-shadow: 6px 6px 30px #4b56c0;
  background: #4b56c0;
}